<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FastArchiver.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FastArchiver.My.MySettings>
            <setting name="AppFont" serializeAs="String">
                <value>Arial, 12pt</value>
            </setting>
            <setting name="AppColor" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="StringColor" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="ControlColor" serializeAs="String">
                <value>WindowFrame</value>
            </setting>
            <setting name="StyleC" serializeAs="String">
                <value />
            </setting>
            <setting name="StyleF" serializeAs="String">
                <value />
            </setting>
            <setting name="CompressionMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CompressFormat" serializeAs="String">
                <value>False</value>
            </setting>
        </FastArchiver.My.MySettings>
    </userSettings>
</configuration>
